[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    

[merge]
    conflictstyle = diff3

[user]
    email = 181466198+smallming675@users.noreply.github.com
    name = SmallMing675
	signingkey = 7D1EB3B6B8087B847B3C2D6F613556048BAEF869

[gui]
    editor = nvim

[color]
    ui = auto

[credential "https://github.com"]
    helper = !pass git/github 

[pull]
    rebase = false

[merge]
  tool = nvimdiff

[push]
    autoSetupRemote = true
[commit]
	gpgsign = true
